
<div class="row">
    <div class="col-md-12">

        <div class="card-body table-responsive p-0" style="height: 500px;width:100%;">

            <table class="table table-head-fixed" style="width:100%">
                <thead id="cabecera_objeto_rvt">
                    <tr>
                        <th style="background-color: #607D8B; color: white; ">N°___de___Poliza__</th>
                        <th style="background-color: #607D8B; color: white; ">Estado_de_Poliza</th>
                        <th style="background-color: #607D8B; color: white; ">Tasa_Utilizada</th>
                        <th style="background-color: #607D8B; color: white;">Tasa_Venta</th>
                        <th style="background-color: #607D8B; color: white;">TLRA</th>
                        <th style="background-color: #607D8B; color: white;">NPV_TV</th>
                        <th style="background-color: #607D8B; color: white;">NPV_TLRA</th>
                        <th style="background-color: #607D8B; color: white;">NPV_VOLA</th>
                        <th style="background-color: #607D8B; color: white;">Check_TIR1</th>
                        <th style="background-color: #607D8B; color: white;">Check_TIR2</th>
                        <th style="background-color: #607D8B; color: white;">Tasa_Minima</th>
                        <th style="background-color: #607D8B; color: white;">Reserva_Minima_Bruta</th>
                        <th style="background-color: #607D8B; color: white;">Reserva_Minima_Retenida</th>
                        <th style="background-color: #607D8B; color: white;">Reserva_Minima_Cedida</th>
                    </tr>
                </thead>

                <tbody id="tabla_objeto_rvt">
                    <tr>
                        <th></th>
                        <th></th>
                        <th>0</th>
                        <th>0.00</th>
                        <th>0.00</th>
                        <th>0.00</th>
                        <th>0.00</th>
                        <th>0.00</th>
                        <th>0.00</th>
                        <th>0.00</th>
                        <th>0.00</th>
                        <th>0.00</th>
                        <th>0.00</th>
                        <th>0.00</th>
                    </tr>
                </tbody>

            </table>
        </div>

        <div class="card-footer clearfix">
            @*<ul id="paginado_per" class="pagination pagination-sm m-0 float-right">

                    <li class="page-item"><a class="page-link" href="#">&laquo;</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">&raquo;</a></li>

                </ul>*@
        </div>


    </div>
</div>





