
<div class="modal fade" id="modal-sm-result-vt" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header btn-primary">
                <h4 class="modal-title" id="titulo_modal">Diferencia</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="frmPeriodoRegistrar">

                    <input type="hidden" id="v_anio_hidden" name="v_anio_hidden" value="">
                    <input type="hidden" id="v_mes_hidden" name="v_anio_hidden" value="">


                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group">
                                <h4 style="color:orangered;">Tasa Venta</h4>
                            </div>
                        </div>
                    </div>
                    <br />
                    <div class="row">

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="exampleInputBorder">Excel</label>
                                <!-- <input class="form-control form-control-sm" maxlength="5" type="text" id="v_cantidad" name="v_cantidad" value="1" placeholder=""> -->
                                @*<input type="text" id="v_anio" name="v_anio" maxlength="4" value="" placeholder="">*@
                                <input class="form-control form-control-sm" maxlength="4" onkeypress="return soloNum(event)" type="text" id="v_anio" name="v_anio" placeholder="3.05">
                            </div>
                        </div>

                        <div class="col-sm-6">
                            <div class="form-group">
                                <label for="exampleInputBorder">C&aacute;lculo</label>
                                <!-- <input class="form-control form-control-sm" maxlength="5" type="text" id="v_cantidad" name="v_cantidad" value="1" placeholder=""> -->
                                @*<input type="text" id="v_anio" name="v_anio" maxlength="4" value="" placeholder="">*@
                                <input class="form-control form-control-sm" maxlength="4" onkeypress="return soloNum(event)" type="text" id="v_anio" name="v_anio" placeholder="3.00">
                            </div>
                        </div>

                    </div>

                    @*<div class="row" id="m_orden" style="display:none;">

                        </div>*@


                </form>
            </div>

            <div class="modal-footer right-content-between">
                <button id="btnCerrar" type="button" class="btn btn-secondary" data-dismiss="modal">&nbsp;&nbsp;Cerrar&nbsp;&nbsp;</button>
                @*<button id="btnGuardar" type="button" class="btn btn-primary toastrDefaultSuccess" onclick="GuardarIt()">Guardar</button>*@
            </div>

        </div>

    </div>

</div>
