<?xml version="1.0" encoding="utf-8"?>
<!--
Este archivo se usa en el proceso de publicación y empaquetado del proyecto web. Para personalizar el comportamiento de este proceso,
edite el archivo MSBuild. Visite https://go.microsoft.com/fwlink/?LinkID=208121 para obtener más información. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Package</WebPublishMethod>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish />
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <DesktopBuildPackageLocation>C:\Temp\TestIIS\ProjectOHIO.zip</DesktopBuildPackageLocation>
    <PackageAsSingleFile>true</PackageAsSingleFile>
    <DeployIisAppPath>Default Web Site\Test</DeployIisAppPath>
    <PrecompileBeforePublish>True</PrecompileBeforePublish>
    <EnableUpdateable>True</EnableUpdateable>
    <DebugSymbols>False</DebugSymbols>
    <WDPMergeOption>DonotMerge</WDPMergeOption>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="MyCtrlTiempoDisec" Order="1" Enabled="False">
          <Destination Path="Data Source=DESKTOP-9E65IF5\SQLEXPRESS;Initial Catalog=bd_disec2;User ID=sa;Password=1067078410" />
          <Object Type="DbDacFx">
            <PreSource Path="Data Source=DESKTOP-9E65IF5\SQLEXPRESS;Initial Catalog=bd_disec2;Persist Security Info=True;User ID=sa;Password=1067078410" includeData="False" />
            <Source Path="$(IntermediateOutputPath)AutoScripts\MyCtrlTiempoDisec_IncrementalSchemaOnly.dacpac" dacpacAction="Deploy" />
          </Object>
          <UpdateFrom Type="Web.Config">
            <Source MatchValue="data source=DESKTOP-9E65IF5\SQLEXPRESS;Initial Catalog=bd_disec2;    Persist Security Info=True;User ID=sa; Password=1067078410" MatchAttributes="$(UpdateFromConnectionStringAttributes)" />
          </UpdateFrom>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="MyCtrlTiempoDisec-Web.config Connection String">
      <ParameterValue>Data Source=DESKTOP-9E65IF5\SQLEXPRESS;Initial Catalog=bd_disec2;User ID=sa;Password=1067078410</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
</Project>