

<div class="modal" id="modal-loading" data-backdrop="static">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-body text-center">
                <div class="loading-spinner mb-2"></div>
                <div>Loading</div>
            </div>
        </div>
    </div>
</div>


<div class="modal fade" id="modal-sm-temporal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header btn-primary">
                <h4 class="modal-title" id="titulo_modal"></h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="frmTemporalRegistrar">


                    <input type="hidden" id="v_id" name="v_id" value="0">


                    @*   se muestra solo al modificar   *@


                    <div class="row">

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="exampleInputBorder">Periodo</label>

                                <select id="v_periodo_temporal" name="v_periodo_temporal" class="form-control form-control-sm select2 select2-danger" data-dropdown-css-class="select2-danger">
                                    <option selected="selected" value="">Seleccione</option>
                                    @*<option value="M">2024 - Enero</option>
                                        <option value="A">2024 - Febrero</option>
                                        <option value="A">2024 - Marzo</option>
                                        <option value="A">2024 -Abril</option>*@
                                </select>

                            </div>
                        </div>

                    </div>


                    @*<div class="row" id="m_orden" style="display:none;">

                        </div>*@


                </form>
            </div>

            <div class="modal-footer justify-content-between">
                <button id="btnCerrar" type="button" class="btn btn-secondary" data-dismiss="modal">&nbsp;&nbsp;Cerrar&nbsp;&nbsp;</button>
                <button id="btnGuardar" type="button" class="btn btn-primary toastrDefaultSuccess" onclick="GuardarTemporal()">Guardar</button>
            </div>

        </div>

    </div>

</div>




<div class="modal fade" id="modal-sm-polizas" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header btn-primary">
                <h4 class="modal-title" id="titulo_modal_poliza">Cargar Data de P&oacute;lizas</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="frmPolizaRegistrar">

                    <input type="hidden" id="v_anio_polizas" name="v_anio_polizas" value="">
                    <input type="hidden" id="v_mes_polizas" name="v_mes_polizas" value="">


                    @*<div class="row">
                            <div class="col-sm-4">
                                <div class="form-group">
                                    <label for="exampleInputBorder" style="color:red;"><u>Periodo :  &nbsp;&nbsp;&nbsp;2024 - Abril</u></label>
                                </div>
                            </div>
                        </div>*@

                    <div class="row">
                        <div class="col-sm-4">
                            <div class="form-group">
                                <label for="exampleInputBorder">Moneda</label>
                                <select id="v_moneda_poliza" name="v_moneda_poliza" class="form-control form-control-sm select2 select2-danger" data-dropdown-css-class="select2-danger">
                                    <option selected="selected" value="">Seleccione</option>
                                    <option value="S">Soles</option>
                                    <option value="D">Dolares</option>
                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="row">
                        <div class="col-sm-12">
                            <div class="form-group" style="margin:0px;" id="naddfiles">
                                <label for="exampleInputFile">Seleccione archivo excel</label>
                                <div class="input-group mb-3">
                                    @*<input class="form-control form-control-sm" type="file" id="m_inputfile" accept="image/png,image/jpeg,image/jpg,application/pdf,.doc,.docx,.xls,.xlsx,.ppt,.pptx">*@
                                    <input type="file" class="file" id="customFile" name="customFile" multiple data-min-file-count="1" accept=".xls,.xlsx">
                                </div>
                            </div>
                        </div>

                        @*<div class="loader"></div>*@
                        <span class="loader"></span>

                    </div>
                </form>
            </div>

            <div class="modal-footer justify-content-between">

                <button id="btnCerrar" style="float:right;" type="button" class="btn btn-secondary" data-dismiss="modal">&nbsp;&nbsp;Cerrar&nbsp;&nbsp;</button>
                <button id="btnGuardar" type="button" class="btn btn-primary toastrDefaultSuccess" onclick="GuardarDataPoliza()">Guardar</button>

            </div>

        </div>

    </div>

</div>


<div class="modal fade" id="modal-sm-procesar_vt" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header btn-primary">
                <h4 class="modal-title" id="titulo_modal_vt">Procesar Reserva Matemática V.T.</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="frmProcesaReservaMatematicaVT">

                    <input type="hidden" id="v_anio_reserva_vt" name="v_anio_reserva_vt" value="">
                    <input type="hidden" id="v_mes_reserva_vt" name="v_mes_reserva_vt" value="">

                    <div class="row">

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="exampleInputBorder">Moneda</label>

                                <select id="v_moneda_reserva_vt" name="v_moneda_reserva_vt" class="form-control form-control-sm select2 select2-danger" data-dropdown-css-class="select2-danger">
                                    <option selected="selected" value="">Seleccione</option>
                                    <option value="S">Soles</option>
                                    <option value="D">Dolares</option>
                                </select>

                            </div>
                        </div>

                    </div>

                </form>
            </div>

            <div class="modal-footer justify-content-between">

                <button id="btnCerrar" type="button" class="btn btn-secondary" data-dismiss="modal">&nbsp;&nbsp;Cerrar&nbsp;&nbsp;</button>
                <button id="btnGuardar" type="button" class="btn btn-primary toastrDefaultSuccess" onclick="GuardarReservaVT()">Guardar</button>

            </div>

        </div>

    </div>

</div>



<div class="modal fade" id="modal-sm-procesar_vt_moce" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header btn-primary">
                <h4 class="modal-title" id="titulo_modal_moce_vt">Procesar MOCE Vida Temporal</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form class="form-horizontal" id="frmProcesaMoceVT">

                    <input type="hidden" id="v_anio_moce_vt" name="v_anio_moce_vt" value="">
                    <input type="hidden" id="v_mes_moce_vt" name="v_mes_moce_vt" value="">

                    <div class="row">

                        <div class="col-sm-12">
                            <div class="form-group">
                                <label for="exampleInputBorder">Moneda</label>

                                <select id="v_moneda_moce_vt" name="v_moneda_moce_vt" class="form-control form-control-sm select2 select2-danger" data-dropdown-css-class="select2-danger">
                                    <option selected="selected" value="">Seleccione</option>
                                    <option value="S">Soles</option>
                                    <option value="D">Dolares</option>
                                </select>

                            </div>
                        </div>

                    </div>

                </form>
            </div>

            <div class="modal-footer justify-content-between">

                <button id="btnCerrar" type="button" class="btn btn-secondary" data-dismiss="modal">&nbsp;&nbsp;Cerrar&nbsp;&nbsp;</button>
                <button id="btnGuardar" type="button" class="btn btn-primary toastrDefaultSuccess" onclick="GuardarMoceVT()">Guardar</button>

            </div>

        </div>

    </div>

</div>

